
th {
    padding-top: 5px;
    padding-right: 5px;
    padding-left:  5px;
    padding-bottom:  5px;
  }

  td{
    padding: 5px 5px 5px 5px ;
    
  }

  table{
     table-layout: fixed;
    border-spacing: 5px;
      border: 1px 1px 1px 1px;
      
  }


 
    

